# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Builds
dist/
build/
.vite/
.cache/

# Env
.env
*.env
backend/.env
frontend/.env

# Local data
uploads/
backend/uploads/

# IDE/OS
.vscode/
.DS_Store
Thumbs.db